# Importing Libraries

In [1]:
from GoogleNews import GoogleNews
import pandas as pd

# Fetching the news headlines from Google News

In [2]:
gn = GoogleNews()

gn.get_news('Covid-19')
df = pd.DataFrame(gn.results(sort=True))

'<' not supported between instances of 'datetime.datetime' and 'NoneType'

# Dropping unnecessary columns and displaying the dataframe

In [3]:
df = df.drop(["link", "date", "datetime", "img", "media"], axis=1)
df.head()

,title,desc,site
0,85 new Covid-19 cases in Delhi; lowest single-...,The Capital also reported 158 new recoveries f...,Hindustan Times
1,Foods that will help maximise the effect of Co...,"""Besides including these food items, make sure...",The Indian Express
2,Coronavirus News Live Updates: Goa extends sta...,Coronavirus News Live Updates: Third wave of C...,Moneycontrol
3,31 policemen succumbed to Covid-19 during seco...,A study published in the Indian Journal of med...,India Today
4,"Kerala records 12,118 fresh Covid-19 cases, 11...",Read more about Kerala records 12118 *fresh* C...,Business Standard

# Storing the data in csv file and json file

In [4]:
df.to_csv('google_news.csv')
df.to_json('google_news.json')